/* BASE */
body {
    font-family: "Roboto", sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* HEADER */

  .header .container {
    max-width: 1600px;
    height: 40px;
    margin: 0 auto;
    background-color: #22252E;
    overflow:hidden;
    }
  

  .header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    }

    .header__list__item__text {
    padding-right: 33px;
  }

  .text-red {
    color: #FF8D00;
  }

  .text-gray {
    color: #889099;
  }

  .header__list__item__link {
      color: #FFFFFF;
  }

  .header__list__item {
      display: flex;

  }
 .header-container__close {
    position: relative;
    left: 50%;
    top: 50%;
}

.header-container__close > .header__close {
    position: absolute;
    top: -13px;
    right: 380px;
    margin: 0;
    padding: 8px 16px;
    background-color: #22252E;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header__list__icon {
fill: #889099;
}

  /* NAV */

  .nav .container {
      max-width: 1600px;
      height: 100px;
      display: flex;
  }

  .logotype {
      margin-left: 60px;
      margin-right: 265px;
      margin-top: 42px;
      width: 260px;
      height: 36px;
  }

  .nav-list {
    display: flex; 
    margin-right: 264px;
    margin-top: 55px;
    text-transform: uppercase; 
  }

  .nav-list__item__link{
      margin-right: 30px;
  }

  .nav-active-link::after {
      display: block;
      width: 97px;
      height: 3px;
      background-color: #4CB649;
      content: "";
  }

  .nav-list__btn {
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-top: 40px;
}

.nav-list__btn__item {
    margin-right: 10px;
}

.nav-btn1 {
    height: 40px;
    width: 90px;
}

.nav-btn2 {
    height: 40px;
    width: 160px;
}

.nav-btn1, .nav-btn2 {
    border-radius: 22px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-color: #4CB649;
    color: #4CB649;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.285;

    transition: color background-color 250ms linear;
}

.nav-btn1:hover, .nav-btn1:focus, 
.nav-btn2:hover, .nav-btn2:focus {
    background-color: #4CB649;
    color: #FFFFFF;
}

  .nav-list__item__link {
    font-size: 14px;
    line-height: 1.285;
    vertical-align: super;
}

.nav-svg {
    vertical-align: 6.5px;
}

/* FEATURE */

.feature-container__img > img {
    margin-bottom: 30px;
    margin-top: 20px;
}

.feature-container__tags {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 41px;
    background-color: #F7F7F7;
}

.feature__list,
.feature__list-nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.285;
    font-weight: 500;
}

.feature__list {
    margin-left: 32px;
    margin-right: 234px;
}

.feature__list__item,
.feature__list-nav {
    margin-right: 40px;
}

.feature__list__item {
    color: #4CB649;
}

.item-black {
    color: #22252E;
}

/* ENTRIES */

.entries-tittle {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.375;
    font-weight: lighter;
}
.entries-list {
    display: flex;
    flex-direction: column;
}
.entries-list__item {
    width: 780px;
    margin-bottom: 61px;
}

.entries-list__image::after {
    display: block;
    width: 740px;
    height: 1px;
    background-color: #EBECED;
    content: "";
    margin-top: 30px;
}
.entries-list__image {
    width: 280px;
    height: 180px;
    float: left;
    margin-right: 40px;
}

.entries-list__card__text {
    font-size: 24px;
    font-weight: lighter;
    color: #22252E;
    margin-bottom: 14px;
    line-height: 1.417;
}

.entries-list__card__autor {
    font-size: 14px;
    line-height: 1.417;
    color: #22252E;
    margin-bottom: 12px;
}
.autor-date {
    color: #889099;
}
.entries-list__card__desk {
    color: #4CB649;
    text-transform: uppercase; 
    font-size: 12px;
    line-height: 1.333;
    font-weight: 500;
    margin-bottom: 7px;
}

.entries-list__item__like {
    font-size: 14px;
    line-height: 1.571;
    font-weight: lighter;
    color: #889099;
    float: left;
}
.button-wrapper {
    width: 780px;
    display: flex;
    justify-content: center;
    margin-bottom: 118px;
}
.entries-btn {
    border-radius: 22px;
    height: 40px;
    width: 260px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-color: #4CB649;
    text-transform: uppercase;
    color: #4CB649;
    font-size: 14px;
    line-height: 1.285;

    transition: color backgroud-color 250ms linear;
}

.entries-btn:hover, .entries-btn:focus {
    color: #FFFFFF;
    background-color: #4CB649;
}

/* ASIDE */

.aside-blog {
    max-width: 400px;
    float: right;
    margin-top: -1710px;
    border-left: 1px solid #EBECED;
    padding-left: 59px;
}

.aside__input {
    width: 340px;
    height: 59px;
    font-size: 18px;
    line-height: 1.555;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 58px;
    margin-bottom: 32px;
    text-transform: uppercase; 
}

.aside__icon__wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0%;
    margin-bottom: 10px;
}

.icon-search {
    position: absolute;
    display: block;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    fill: #22252E;
}    

.announcments-list {
    width: 340px;
    margin-bottom: 32px;
}

.aside__icon__announcements,
.aside__icon__announcements2 {
    width: 60px;
    height: 60px;
    padding-right: 20px;
}

.nav-blog__list__container {
    display: flex;
    align-items: center;
    padding-bottom: 22px;
}

.nav-blog__list__item__subtitle {
    font-size: 24px;
    line-height: 1.417;
    color: #22252E;
    font-weight: 300;
}

.nav-announcments-list__item {
    font-size: 14px;
    line-height: 1.571;
    font-weight: 300;
    margin-bottom: 19px;
    line-height: 1.571;
}
.nav-blog__subtitle {
    color: #22252E;
    font-size: 24px;
    line-height: 1.416;
    font-weight: 300;
    margin-top: 52px;
    margin-bottom: 16px;
}

 /* PRICING */

 .pricing-dark {
    width: 1600px;
    height: 800px;
    margin-top: 118px;
    margin: auto;
    background-color: #22252E;
 }

 .pricing-tittle {
    font-size: 48px;
    line-height: 1.333;
    font-weight: 300;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 40px;
    color: #FFFFFF;
 }
.pricing-list {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
}

.pricing-list__item {
    width: 380px;
    height: 340px;
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

.pricing-list__item {
    transition: all 0.5s linear;
}

.pricing-list__item:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
    outline: solid 4px #4CB649;
}

.pricing-list__item__text1 {
    margin-top: 51px;
    font-size: 14px;
    line-height: 1.285;
    font-weight: 500;
    text-transform: uppercase;
    color: #22252E;
}

.pricing-list__item__text1::after {
    display: block;
    margin-left: 178px;
    margin-top: 8px;
    width: 24px;
    height: 2px;
    background-color: #4CB649;
    content: "";
}

.pricing-list__item__text2 {
    font-size: 56px;
    line-height: 1.333;
    color: #22252E;
    font-weight: 300;
}

.pricing-list__item__text2::after {
    display: block;
    margin-left: 100px;
    margin-top: 10px;
    width: 200px;
    height: 1px;
    background-color: #EBECED;
    content: "";

}
.pricing-list__item__text3 {
    font-size: 14px;
    line-height: 1.571;
    font-weight: 400;
    margin-bottom: 31px;
    margin-top: 29px;
}
 
.pricing-list__item__text {
    font-size: 14px;
    line-height: 1.285;
    font-weight: 400;
    margin-bottom: 26px;
    margin-top: 18px;
}

.red-price {
    color: #F24458;
    font-size: 14px;
    line-height: 1.571;
    font-weight: 400;
}

.pricing-list__item__btn {
    height: 40px;
    width: 205px;
    border-radius: 22px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-color: #4CB649;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.285;
    transition: color background-color 250ms linear;
}


.pricing-list__item__btn:hover, .pricing-list__item__btn:focus 
.nav-btn1:hover, .nav-btn1:focus {
    background-color: #4CB649;
    color: #FFFFFF;
}

.ways-to-pay-conteiner {
    height: 100px;
}

.ways-to-pay__list,
.ways-to-pay__list2 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.ways-to-pay__list {
    height: 100px;
    margin-top: 41px;
}
.ways-to-pay__list__item {
    margin-right: 32px;
    text-decoration: uppercase;
}
.ways-to-pay__subtitle {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.555;
    font-weight: 300;
}

.ways-to-pay__list2__item {
    height: 24px;
    margin-top: 8px;
    margin-right: 40px;
    color: #4CB649;
    font-size: 14px;
    line-height: 1.285;
    font-weight: 500;
    text-transform: uppercase;
}
.ways-to-pay__svg {
    width: 10px;
    height: 15px;
    margin-bottom: -3px;
    margin-left: 13px;
}

