/* UTILS */
:root {
  --text-font: "Roboto", sans-serif;
  --header-orange-color: #ff8d00;
  --text-grey-color: #889099;
  --text-white-color: #ffffff;
  --text-subtitle-color: #323642;
  --header-backgroud: #22252e;
  --text-black-color: #22252e;
  --pricing-backgroud: #3d4251;
  --feature-backgroud: #f7f7f7;
  --btn-fon-color: #ffffff;
  --accent-color: #4cb649;
  --text-red-color: #f24458;
  --line-color: #ebeced;
}

/* BASE */
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding: 0 10px;
  outline: 2px solid #4cb649;
}

@media screen and (min-width: 375px) {
  .container {
    width: 355px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      width: 1220px;
      margin: 0 auto;
    }
  }
}

/* HEADER */
.header {
  background-color: var(--header-backgroud);
}
.header > .container {
  height: 68px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* .header-item1 {
  order: 1;
}
.header-item2 {
  order: 2;
} */
@media screen and (max-width: 1199px) {
  .header-item1 {
    margin-left: 10px;
  }
  .header-item3 {
    margin-left: 10px;
    order: 5;
  }
  .header-item4 {
    order: 6;
  }
  .header-item5 {
    order: 3;
  }
  .header-container__close {
    display: flex;
    order: 4;
  }
  .header__list__icon,
  .text-orange,
  .header-item5,
  .header-container__close {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .text-orange {
    margin-right: 96px;
  }
  .text-gray {
    margin-right: 16px;
  }
  .header__list__item__link {
    margin-right: 14px;
  }
}

.header__close {
  background-color: var(--header-backgroud);
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header__list__item {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.333;
}

.text-orange {
  color: var(--header-orange-color);
  font-weight: 500;
}
.text-gray {
  color: var(--text-grey-color);
}
.header__list__item__link {
  color: var(--text-white-color);
}
.header__list__icon {
  fill: var(--text-grey-color);
}

@media screen and (min-width: 1200px) {
  .header .container {
    width: 100%;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__list__item__text {
    padding-right: 33px;
  }
}

/* NAV */
@media screen and (max-width: 1199px) {
  .nav-list,
  .nav-btn1 {
    display: none;
  }
}
.nav .container {
  height: 70px;
  display: flex;
  align-items: center;
}

.logotype {
  width: 168px;
  height: 23.8px;
  margin-right: 23px;
}

.mobile-menu-btn {
  background-color: var(--btn-fon-color);
  border: none;
  margin-right: 12px;
}
.nav-btn2 {
  height: 40px;
  width: 126px;
}
.nav-btn1,
.nav-btn2 {
  border-radius: 22px;
  cursor: pointer;
  background-color: var(--btn-fon-color);
  border-color: var(--accent-color);
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.285;

  transition: color background-color 250ms linear;
}

.nav-btn1:focus,
.nav-btn2:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

@media screen and (min-width: 1200px) {
  .mobile-menu-btn {
    display: none;
  }
  .nav .container {
    width: 100%;
    height: 100px;
    display: flex;
  }
  .logotype {
    margin-left: 61px;
    margin-right: 265px;
    margin-bottom: 22.1px;
    margin-top: 42px;
    width: 260px;
    height: 36px;
  }
  .nav-list {
    display: flex;
    margin-right: 251px;
    margin-top: 55px;
    text-transform: uppercase;
  }

  .nav-list__item__link {
    margin-right: 30px;
  }

  .nav-active-link::after {
    display: block;
    width: 97px;
    height: 3px;
    background-color: var(--accent-color);
    content: "";
  }

  .nav-list__btn {
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .nav-list__btn__item {
    margin-right: 10px;
  }

  .nav-btn1 {
    height: 40px;
    width: 90px;
  }

  .nav-btn2 {
    height: 40px;
    width: 160px;
  }

  .nav-btn1,
  .nav-btn2 {
    border-radius: 22px;
    cursor: pointer;
    background-color: var(--btn-fon-color);
    border-color: var(--accent-color);
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.285;

    transition: color background-color 250ms linear;
  }
  .nav-btn1:hover,
  .nav-btn1:focus,
  .nav-btn2:hover,
  .nav-btn2:focus {
    background-color: var(--accent-color);
    color: var(--text-white-color);
  }

  .nav-list__item__link {
    font-size: 14px;
    line-height: 1.285;
    vertical-align: super;
  }

  .nav-svg {
    vertical-align: 6.5px;
  }
}

/* FEATURE */

@media screen and (max-width: 1199px) {
  .feature-container__img,
  .feature-container__tags {
    display: none;
  }
}
.feature-container-mobile__img > img {
  margin: auto;
  margin-top: 31px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .feature-container-mobile__img {
    display: none;
  }
  .feature .container {
    width: 1200px;
  }
  .feature-container__tags {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 41px;
    background-color: var(--feature-backgroud);
  }

  .feature__list,
  .feature__list-nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.285;
    font-weight: 500;
  }

  .feature__list {
    margin-left: 32px;
    margin-right: 234px;
  }

  .feature__list__item,
  .feature__list-nav__item {
    margin-right: 40px;
  }

  .feature__list__item {
    color: var(--accent-color);
  }

  .item-black {
    color: var(--header-backgroud);
  }
}
/* ENTRIES */

@media screen and (max-width: 1199px) {
  .mobile-display-none {
    display: none;
  }
  .entries > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aside {
    margin-bottom: 69.4px;
  }
  .aside__form__desktop {
    display: none;
  }
  .entries-list__card::after,
  .announcments-list::after {
    display: block;
    width: 315px;
    height: 1px;
    background-color: var(--line-color);
    content: "";
  }
  .entries-list__card::after {
    margin-top: 14.8px;
    margin-bottom: 18px;
  }
  .announcments-list::after {
    margin-top: 31px;
  }
  .entries-list__image__mobile {
    width: 315px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
  }
  .aside__input {
    width: 335px;
  }
}
.aside__input {
  height: 59px;
  font-size: 18px;
  line-height: 1.555;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 58px;
  margin-bottom: 32px;
}
.aside__icon__wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0%;
  margin-bottom: 10px;
}
.icon-search {
  position: absolute;
  display: block;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--text-black-color);
}
.entries-tittle {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.375;
  font-weight: lighter;
}
.entries-list__card {
  margin-right: 20px;
  margin-left: 20px;
}
.entries-list__card__text {
  font-size: 24px;
  font-weight: lighter;
  color: var(--text-black-color);
  margin-bottom: 14px;
  line-height: 1.417;
}
.entries-list__card__autor {
  font-size: 14px;
  line-height: 1.417;
  color: var(--text-black-color);
  margin-bottom: 12px;
}
.autor-date {
  color: var(--text-grey-color);
}
.entries-list__card__desk {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 400;
  margin-bottom: 7px;
}

.entries-list__item__like {
  font-size: 14px;
  line-height: 1.571;
  font-weight: lighter;
  color: var(--text-grey-color);
  float: left;
}
.entries-btn {
  margin-top: 42px;
  margin-bottom: 60px;
  border-radius: 22px;
  height: 40px;
  width: 315px;
  cursor: pointer;
  background-color: var(--btn-fon-color);
  border-color: var(--accent-color);
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.285;

  transition: color backgroud-color 250ms linear;
}
.entries-btn:focus {
  color: var(--btn-fon-color);
  background-color: var(--accent-color);
}
.announcments-list {
  width: 340px;
  margin-bottom: 32px;
}

.aside__icon__announcements,
.aside__icon__announcements2 {
  width: 60px;
  height: 60px;
  padding-right: 20px;
}

.nav-blog__list__container {
  display: flex;
  align-items: center;
  padding-bottom: 22px;
}

.nav-blog__list__item__subtitle {
  font-size: 24px;
  line-height: 1.417;
  color: var(--text-black-color);
  font-weight: 300;
}

.nav-announcments-list__item {
  font-size: 14px;
  line-height: 1.571;
  font-weight: 300;
  margin-bottom: 19px;
}

.nav-announcments-list__item::before {
  color: var(--accent-color);
  content: "\2022";
  padding-right: 5px;
}
.nav-blog__subtitle {
  color: var(--text-black-color);
  font-size: 24px;
  line-height: 1.416;
  font-weight: 300;
  margin-top: 61px;
  margin-bottom: 16px;
}

.nav__mobile__img {
  width: 315px;
  height: 420px;
}

@media screen and (min-width: 1200px) {
  .entries {
    height: 1697px;
  }
  .aside__form__mobile {
    display: none;
  }
  .entries .container {
    width: 1200px;
  }
  .article {
    width: 780px;
    float: left;
  }
  .aside-blog {
    width: 400px;
    float: right;
  }
  .entries-list {
    display: flex;
    flex-direction: column;
  }
  .entries-list__item {
    width: 780px;
    margin-bottom: 61px;
  }

  .entries-list__image::after {
    display: block;
    width: 740px;
    height: 1px;
    background-color: var(--line-color);
    content: "";
    margin-top: 30px;
  }
  .entries-list__image {
    width: 280px;
    height: 180px;
    float: left;
    margin-right: 40px;
  }

  .entries-list__card__text {
    font-size: 24px;
    font-weight: lighter;
    color: var(--text-black-color);
    margin-bottom: 14px;
    line-height: 1.417;
  }

  .entries-list__card__autor {
    font-size: 14px;
    line-height: 1.417;
    color: var(--text-black-color);
    margin-bottom: 12px;
  }
  .autor-date {
    color: var(--text-grey-color);
  }
  .entries-list__card__desk {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.333;
    font-weight: 500;
    margin-bottom: 7px;
  }

  .entries-list__item__like {
    font-size: 14px;
    line-height: 1.571;
    font-weight: lighter;
    color: var(--text-grey-color);
    float: left;
  }
  .button-wrapper {
    width: 780px;
    display: flex;
    justify-content: center;
  }
  .entries-btn {
    border-radius: 22px;
    height: 40px;
    width: 260px;
    cursor: pointer;
    background-color: var(--btn-fon-color);
    border-color: var(--accent-color);
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.285;

    transition: color backgroud-color 250ms linear;
  }

  .entries-btn:hover,
  .entries-btn:focus {
    color: var(--btn-fon-color);
    background-color: var(--accent-color);
  }
  .aside__input {
    width: 340px;
    height: 59px;
  }

  .nav-blog__subtitle {
    margin-top: 52px;
  }
}

/* PRICING */
.pricing {
  background-color: var(--pricing-backgroud);
}
/* .pricing .container {
    width: 1200px;
} */
.pricing-tittle {
  font-size: 48px;
  line-height: 1.333;
  font-weight: 300;
  text-align: center;
  padding-top: 101px;
  padding-bottom: 40px;
  color: var(--text-white-color);
}
.pricing-list__item {
  height: 340px;
  border-radius: 4px;
  background-color: var(--text-white-color);
  text-align: center;
}
.pricing-list__item {
  transition: all 0.5s linear;
}

.pricing-list__item:hover {
  cursor: pointer;
}
.pricing-list__item__text1 {
  font-size: 14px;
  line-height: 1.285;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-black-color);
}
.pricing-list__item__text1::after {
  display: block;
  margin: auto;
  margin-top: 8px;
  width: 24px;
  height: 2px;
  background-color: var(--accent-color);
  content: "";
}
.pricing-list__item__text2 {
  font-size: 56px;
  line-height: 1.333;
  color: var(--text-black-color);
  font-weight: 300;
  margin-bottom: 10px;
}
.pricing-list__item__text2::after {
  display: block;
  margin: auto;
  width: 200px;
  height: 1px;
  background-color: var(--line-color);
  content: "";
}
.pricing-list__item__text3 {
  font-size: 14px;
  line-height: 1.571;
  font-weight: 400;
  margin-bottom: 31px;
  margin-top: 29px;
}
.pricing-list__item__text {
  font-size: 14px;
  line-height: 1.285;
  font-weight: 400;
  margin-bottom: 26px;
  margin-top: 18px;
}
.red-price {
  color: var(--text-red-color);
  font-size: 14px;
  line-height: 1.571;
  font-weight: 400;
}
.pricing-list__item__btn {
  height: 40px;
  width: 205px;
  border-radius: 22px;
  cursor: pointer;
  background-color: var(--btn-fon-color);
  border-color: var(--accent-color);
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.285;
  transition: color background-color 250ms linear;
}

@media screen and (max-width: 1199px) {
  .pricing {
    height: 1700px;
  }
  .pricing-tittle {
    font-size: 32px;
    line-height: 1.375;
    padding-top: 61px;
  }
  .pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing-list {
    margin-bottom: 38px;
  }
  .pricing-list {
    width: 315px;
  }
  .pricing-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .pricing-list__item:hover {
    outline: solid 4px var(--header-orange-color);
  }
  .pricing-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 51px 51px 40px 55px;
  }
  .pricing-list__item__btn:focus,
  .nav-btn1:focus {
    background-color: var(--header-orange-color);
    color: var(--btn-fon-color);
  }
}
@media screen and (min-width: 1200px) {
  .pricing .container {
    width: 100%;
    height: 800px;
  }
  .pricing-tittle {
    font-size: 48px;
    line-height: 1.333;
  }
  .pricing-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pricing-list__item {
    margin: 10px;
  }
  .pricing-list__item {
    transition: all 0.5s linear;
    padding: 51px 88px 40px 87px;
  }
  .pricing-list__item:hover {
    transform: scale(1.1, 1.1);
    outline: solid 4px var(--accent-color);
  }
  .pricing-list__item__btn:hover,
  .pricing-list__item__btn:focus .nav-btn1:hover,
  .nav-btn1:focus {
    background-color: var(--accent-color);
    color: var(--btn-fon-color);
  }
}

/* FOOTER */
.footer > .container {
  display: flex;
  flex-wrap: wrap;
}
.footer-group1 {
  margin-bottom: 39px;
  margin-right: 20px;
}
.footer-group3 {
  margin-bottom: 44px;
}
@media screen and (max-width: 1199px) {
  .footer-logotype {
    margin-left: 20px;
    margin-top: 47px;
    margin-bottom: 43px;
  }
  .footer-social-container {
    order: 5;
    margin-left: 33.8px;
  }
  .footer-group4 {
    order: 6;
  }
  .footer-social-container__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-social-container__list__item {
    width: 30%;
  }
  .footer-social-container-desktop {
    display: none;
  }
}

.footer-group__subtitle,
.footer-social__subtitle {
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--text-subtitle-color);
  font-size: 14;
  font-weight: 500;
  line-height: 1.285;
}
.footer-group__list__item,
.footer-group4__list__item {
  color: var(--text-grey-color);
  font-size: 14;
  font-weight: 300;
}

.footer-group__list__item {
  line-height: 2.2;
}

.footer-group__list__item__text {
  font-size: 14px;
  line-height: 1.571;
  margin-bottom: 10px;
}

.footer-group__list__item__text2 {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.333;
  margin-bottom: 43px;
}
.footer-subgroup__list {
  margin-top: 40px;
}

/* desktop */
@media screen and (min-width: 1200px) {
  .footer > .container {
    min-width: 1200px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer-social-container {
    display: none;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .footer-logotype {
    margin-top: 72px;
    margin-bottom: 73px;
  }

  .footer-group1 {
    min-width: 166px;
  }

  .footer-group2 {
    min-width: 164px;
    margin-right: 36px;
  }

  .footer-group3 {
    min-width: 130px;
    margin-right: 41px;
  }

  .footer-group4 {
    display: flex;
    width: 600px;
  }

  .footer-subgroup__list {
    margin-top: 40px;
  }
  .footer-social-container__list {
    display: flex;
    align-items: center;
  }

  .footer-social-container__list__item {
    margin-right: 31.5px;
  }

  .footer-social__subtitle {
    margin-bottom: 21px;
  }

  .footer-social-container {
    margin-bottom: 90px;
    margin-left: 600px;
  }
}
